body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background:#665286;
    color: #071877;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 10px;
    font-size: 1.1em;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0073e6;
    margin-bottom: 10px;
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.member-details h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #0073e6;
}

.contact-info,
.social-media {
    text-align: center;
}

.social-media a {
    color: #0073e6;
    text-decoration: none;
    margin: 0 10px;
}

.social-media a:hover {
    text-decoration: underline;
}